<header class="masthead">
  <div class="container">
    <span class="icon">✌</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">Les raisons pour lesquelles HTML et CSS pourraient vous faire dire "C'est quoi ce bordel !". Une sélection d'embarras, méprises, dilemmes et frustrations.</p>

    <p class="lead">Créé par <a href="{{ site.twitter }}">@mdo</a>.<br>
    Version française par <a href='https://twitter.com/mathieuhays'>@mathieuhays</a>.</p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ site.twitter }}">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
